$desktop: 768px;
$tablet: 600px;

$base-font-family: Arial,Helvetica Neue,Helvetica,sans-serif;

$body-color: #666666;
$primary-color: #0066cc;

$link-colour: $primary-color;
$visit-colour: #003366;
$hover-colour: #000033;
$active-colour: #663366;

$dark-grey: #222;
$light-grey: #999999;
$white: #fff;
$black: #000;


/* HIGH CONTRAST */
$background-high-contrast-color: $black;
$text-high-contrast-color: $white;
$primary-high-contrast-color: #fcff3c;


/* FONT SIZES */
$font-size-base: 1rem;
$font-size-larger: 1.4rem;
$font-size-large: 1.2rem;
